.mainMenu {
	margin-left: auto;

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0 0 0 20px;
		padding: 0;
	}

	a {
		text-decoration: none;

		&.router-link-active {
			font-weight: 700;
		}
	}
}
