$background-primary: #1f90d7;
$background-gray: #f5f5f5;

$border-gray: #f5f5f5;

$text-primary: #1f90d7;
$text-gray: #545454;
$text-white: #ffffff;

$header-height: 60px;

$transition-default: 0.3s;
$transition-fast: 0.1s;
